<header>
    Excel/CSV to VCF 
</header>


  
  <div style="margin-bottom:50px">
    Enter Email
    <input type="text" ng-model="email" placeholder="Type Email"/>
  </div>

  


  <!-- Excel to Vcf -->
    <form id="uploadForm">
     Select Excel File:-   <input type="file" name="file" ngf-select accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ng-model="Excelfile"  />Upload

        <input type="submit" value="Upload" name="submit" ng-click="ExcelToVcf(Excelfile)">

    </form>

    <div ng-show="download">
  <a ng-href="{{path}}">Download</a>
  </div>
